<a href="https://colab.research.google.com/github/B-bori/python/blob/master/0417_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT #1
1. Create a list a_list, with the following elements 1, hello, [1,2,3] and True(i.e.Boolean)

2. Find the value stored at index 1 of a_list 

3. Retrieve the elements stored at index 1,2 and 3 of a_list

4. Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']

In [0]:
#1
a_list=[1,'hello',[1,2,3],True]

In [39]:
#2
print(a_list[1])

hello

In [40]:
#3
print(a_list[1])
print(a_list[2])
print(a_list[3])

hello
[1, 2, 3]
True

In [41]:
#4
A=[1,'a'] 
B=[2,1,'d']

# sol1)
C=A+B
print(C)

# sol2)
A.extend(B)
print(A)

[1, 'a', 2, 1, 'd']
[1, 'a', 2, 1, 'd']

# Assignment #2

Declare the soundtrack dictionary such as 
soundtrack_dic={"The Bodyguard":"1992", "Saturday Night Fever","1977"}

1. write a code to display all of the keys
2. write a code to display all of the values

In [0]:
soundtrack_dic={"The Bodyguard":"1992", "Saturday Night Fever":"1977"}

In [43]:
#1
print(soundtrack_dic.keys())

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [44]:
#2
print(soundtrack_dic.values())

dict_values(['1992', '1977'])

# ASSIGNMENT #3

1. Convert the list ['rap', 'house', 'electronic music', 'rap'] to a set: 
2. Consider the list A=[1,2,2,1] and set B=set([1,2,2,1]), does sum(A)=sum(B)
3. Create a new set album_set3 that is the union of album_set1 and album_set2: 

album_set1=set(["Thriller", "AC/DC", "Back in Black"])

album_set2=set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])
4. Find out if album_set1 is a subset of album_set3

In [0]:
L=['rap','house','electronic music','rap']

In [0]:
#1
S=set(L)

In [47]:
#2
A=[1,2,2,1]
B=set(A)
sum(A)==sum(B) # The result must be False since set can't have same element

False

In [48]:
#3
album_set1=set(["Thriller", "AC/DC", "Back in Black"])
album_set2=set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3=album_set1 | album_set2
print(album_set3)

{'Back in Black', 'The Dark Side of the Moon', 'AC/DC', 'Thriller'}

In [49]:
#4
album_set1.issubset(album_set3)

True

# ASSIGNMENT #4-(1)
Dict ={"Artist": "Michael", "Genre": "R&B", "Sales": 10000}

When the Artist's name is "Michael", print out the genre of the artist

# ASSIGNMENT #4-(2)
1. Write a python program to convert temperatures to and from celsius, fahrenheit 

  (Kelvin temeprature limitation is -273 celcius, e.g., declare your value at -50000, 50000 )

2. Write a Python program to count how many even numbers and odd number is in a list. (e.g., L=[1,2,3,5,31,28,91])

3. Write a Python program, extending the codes from Question 2 in Assignment #4-2, how many prime numbers are in the list 

   [Note that if you solve this problem, you will win the Fields Medal (a kind of Nobel prize in Math)]

  (What professor want to test in Question 3 is to nested conditions)

In [0]:
# 4-(1)

In [54]:
Dict ={"Artist": "Michael", "Genre": "R&B", "Sales": 10000}
if(Dict["Artist"]=="Michael"):
  print(Dict["Genre"])

R&B

In [0]:
# 4-(2)

In [32]:
#1
# convert celcius to fahrenheit
  C=20
  if(C<-273):
    print("Error!")
  else: 
    F=(9/5)*C+32
    print(F)

# convert fahrenheit to celcius
  F=68
  C=(5/9)*(F-32)
  if(C<-273):
    print("Error!")  
  else:
    print(C)

68.0
20.0

■ Generalize

In [52]:
#1
switch=input() # if switch==1, do convert celcius to fahrenheit, else if switch==0, do convert fahrenheit to celcius
# convert celcius to fahrenheit
if(switch=='1'):
  C=int(input())
  if(C<-273):
    print("Error!")
  else: 
    F=(9/5)*C+32
    print(F)
# convert fahrenheit to celcius
if(switch=='0'):
  F=int(input())
  C=(5/9)*(F-32)
  if(C<-273):
    print("Error!")  
  else:
    print(C)

1
20
68.0

In [31]:
#2
L=[1,2,3,5,31,28,91]

even=0
odd=0

for i in L:
  if(i%2==0):
    even+=1
  else:
    odd+=1

print(even)
print(odd)

2
5

■ Generalize

In [2]:
#2
n=int(input())
L=[]
for i in range(n):
  L.append(int(input()))

even=0
odd=0

for i in L:
  if(i%2==0):
    even+=1
  else:
    odd+=1

if(even>=2):
  print("There are",even,"even numbers in the list")
  if(odd>=2):
    print("There are",odd,"odd numbers in the list")
  elif(odd==1):
    print("There is",odd,"odd number in the list")
  elif(odd==0):
    print("There are no odd numbers in the list")

elif(even==1):
  print("There is",even,"even number in the list")
  if(odd>=2):
    print("There are",odd,"odd numbers in the list")
  elif(odd==1):
    print("There is",odd,"odd number in the list")
  elif(odd==0):
    print("There are no odd numbers in the list")

elif(even==0):
  print("There are",even,"even numbers in the list")
  if(odd>=2):
    print("There are",odd,"odd numbers in the list")
  elif(odd==1):
    print("There is",odd,"odd number in the list")
  elif(odd==0):
    print("There are no odd numbers in the list")

7
1
2
3
5
31
28
91
There are 2 even numbers in the list
There are 5 odd numbers in the list

In [44]:
#3 
L=[1,2,3,5,31,28,91]

cnt=0
chk=0
for i in L:
  if(i!=1):
    for j in range(2,i):
      if(i%j==0):
        chk+=1
    if(chk==0):
      cnt+=1
    chk=0

print(cnt)

4

■ Generalize

In [28]:
#3 
n=int(input())
L=[]
for i in range(n):
  L.append(int(input()))

prime_cnt=0

def prime_chk(x):
  chk=0
  if(x==1):
    return 2
  else:
    for i in range(2,x):
      if(x%i==0):
        chk+=1
        return chk
        break
    if(chk==0):
     return 3 

for i in L:
  if(prime_chk(i)==3):
    prime_cnt+=1

print(prime_cnt)

7
1
2
3
5
31
28
91
4